body {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
  width: 980px;
  height: 140px;
  background-color: rgb(133, 20, 174);
  border: #064a4a 1px dashed;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
main {
  width: 980px;
  height: 450px;
  border: rgb(104, 29, 89) 1px dashed;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
aside {
  width: 270px;
  height: 450px;
  float: left;
  background-color: slategrey;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  width: 689px;
  height: 450px;
  float: left;
  background-color: rgb(149, 174, 199);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  width: 980px;
  height: 70px;
  background-color: teal;
  border: #064a4a 1px dashed;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}